<script>
  const mapToken = "<%= process.env.MAP_BOX_LOCAL_TOKEN %>";
  const listing = JSON.parse('<%- JSON.stringify(listing) %>');
</script>

<% layout('layout/boilerplate') -%>

  <div class="container mt-4">
    
    <h2 class="text-center mb-4">
      <%= listing.title %>
    </h2>

    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">


        <img src="<%= listing.image.url %>" class="img-fluid rounded-4 shadow-sm mb-4 w-100"
          style="height: 380px; object-fit: cover;" alt="listing image">

        <p class="text-muted mb-2">
          <b>
            <%= listing.owner.username %>
          </b>
        </p>

        <p class="text-muted mb-2">
          <%= listing.description %>
        </p>


        <p class="fw-bold fs-5 mb-1">
          ₹ <%= listing.price %>
        </p>


        <p class="text-secondary mb-3">
          <%= listing.location %>, <%= listing.country %>
        </p>



        <div class="d-flex gap-2">
          <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger btn-sm">
            Edit
          </a>

          <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" class="d-inline">
            <button class="btn btn-dark btn-sm">
              Delete
            </button>
          </form>
        </div>

      </div>
    </div>
    <hr>
    <h4>Leave a Review</h4>


    <% if(currUser) {%>
      <form action="/listings/<%= listing._id %>/reviews" method="POST" class="needs-validation" novalidate>


        <fieldset class="starability-slot">
          <legend>First rating:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
            aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>

        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>

          <div class="invalid-feedback">
            Please submit some comments for the review.
          </div>
        </div>

        <button class="btn btn-outline-dark" type="submit">
          Submit
        </button>
      </form>



  </div>
  <% } %>
    <hr>
    <% if(listing.reviews.length> 0 ){ %>
      <div>
        <p><b>Listing Reviews</b></p>

        <div class="row">
          <% for (let review of listing.reviews) { %>
            <div class="card col-5 mb-3 rating-card">
              <div class="card-body">
                <h5 class="card-title">@<%=review.author.username %>
                </h5>
                <p class="starability-result" data-rating="<%=review.rating%>">
                </p>
                <p class="card-text">
                  <%= review.comment %>
                </p>
                <p class="card-text">
                  Star
                </p>

              </div>
              <form action="/listings/<%=listing._id %>/reviews/<%=review._id %>?_method=Delete" method="post"
                class="mb-3 mt-2">
                <button class="btn btn-sm btn-dark">Delete</button>
              </form>
            </div>

            <% } %>
        </div>
      </div>
      <% } %>
        <div class="map mb-3">
          <h3>Where you'll be</h3>
          <div id="map"></div>
        </div>

        </div>


        </div>
       <script src="/js/map.js"></script>


        <script src="/js/script.js"></script>